@import "../../assets/styles/main.scss";

.SmallSlider {
  margin-bottom: 30px;
  overflow-x: hidden;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s cubic-bezier(0.8, -0.5, 0.4, 1.2);

    li {
      width: 100px;
      text-align: center;
      cursor: pointer;

      &:hover p {
        color: $color-4e72ca;
      }

      button {
        width: 75px;
        height: 75px;
        border-radius: 20px;
        margin-bottom: 6px;
        @include bg-border-none;
        animation: anim 0.2s ease 1;
      }
    }

    p {
      transition: $tr-color;
      @include font(14px, bold, $color-4a4a4a);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
