@import "../../assets/styles/main.scss";

.Footer {
  .FooterTop {
    background-color: $color-282B30;
    padding: 30px 0;

    div {
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .Logo {
          display: flex;
          align-items: center;

          div {
            width: 170px;
            margin-left: 14px;

            p {
              @include font(14px, bold, #fff);
              opacity: 0.1;
            }
          }
        }

        .Text {
          width: 315px;

          p {
            @include font(14px, normal, $color-98A4B7);
          }
        }

        ul {
          display: flex;

          li:not(:last-child) {
            margin-right: 4px;

          }

        }
      }
    }
  }

  .FooterBottom {
    background-color: $color-33383C;
    padding: 30px 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li:hover a {
        color: $color-05F3B3;
      }

      a {
        @include font(15px, 600, $color-66717a);
        transition: $tr-color;
      }
    }
  }
}
