$color-19d476: #19d476;
$color-11b463: #11b463;
$color-4e72ca: #4e72ca;
$color-b6cafb: #b6cafb;
$color-b4e2e1: #b4e2e1;
$color-ff9e83: #ff9e83;
$color-f7e233: #f7e233;
$color-f6dac2: #f6dac2;
$color-9b9b9b: #9b9b9b;
$color-f2f2f2: #f2f2f2;
$color-4a4a4a: #4a4a4a;
$color-282B30: #282B30;
$color-98A4B7: #98A4B7;
$color-33383C: #33383C;
$color-66717a: #66717a;
$color-05F3B3: #05F3B3;
$color-444444: #444444;
$color-414d6a: #414d6a;
$color-304fff: #304fff;
$color-d0021b: #d0021b;

$tr-color: color 0.4s ease;
$tr-bg: background-color 0.4s ease;
$tr-border: border-color 0.4s ease;
$tr-width: width 0.4s ease;
$tr-height: height 0.4s ease;
$tr-opacity: opacity 0.4s ease;
$tr-transform: transform 0.4s ease;
$tr-box-shadow: box-shadow 0.4s ease;


$border: 1px solid rgba(151, 151, 151, 0.496575);
$box-shadow: 12px 4px 24px rgba(0, 0, 0, 0.0647645);
$box-shadow-btn: 1px 3px 6px rgba(0, 0, 0, 0.129331);